@import "../../node_modules/bulma/bulma";

section.navsection {
  padding-bottom: 0;
}

.media-content {
  padding-left: 15px;
}

tr.is-highlighted {
  background: rgba($turquoise, 0.15);
}

[v-cloak] {
  display: none;
}