@import "../../node_modules/bulma/bulma";
@import "../../node_modules/hint.css/src/hint";
@import "./lity";

.box.featured {
  outline: solid 1px orange;
}

section.navsection {
  padding-bottom: 0;
}

.media-content {
  padding-left: 15px;
}

tr.is-highlighted {
  background: rgba($turquoise, 0.15);
}

[v-cloak] {
  display: none;
}

img.logo {
  max-width: 70%;
  width: 20px;
}

@media only screen and (min-width: 768px){
  .control.is-grouped.is-vertical {
    flex-direction: column;

    .button {
      margin-top: 10px;
    }
  }
}

.card.is-fullheight {
  height: 100%;
}

a.has-inherit, a.has-inherit:visited{
  color: inherit !important;
}

.is-gray {
  color: #aeaeae;
}