@import "../../node_modules/bulma/bulma";
@import "./lity";

.box.featured {
  outline: solid 1px orange;
}

section.navsection {
  padding-bottom: 0;
}

.media-content {
  padding-left: 15px;
}

tr.is-highlighted {
  background: rgba($turquoise, 0.15);
}

[v-cloak] {
  display: none;
}

img.logo {
  max-width: 70%;
  width: 20px;
}